::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #e2e8f0;
}

::-webkit-scrollbar-thumb {
  background-color: #020617;
  border-radius: 6px;
  border: 2px solid #e2e8f0;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #020617 #e2e8f0;
}
