::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f4f4f5;
}

::-webkit-scrollbar-thumb {
  background-color: #09090b;
  border-radius: 6px;
  border: 2px solid #f4f4f5;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #040406;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #09090b #f4f4f5;
}
